{% extends "index.html" %}
{% load staticfiles %}

{% block educ %}
<section id="portfolio">
      <div class="container">
        <br>
        <br>
        <h2 class="text-center">كتب تعليمية</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#raspberry" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/simply-raspberry-pi.jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#arduino" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/simplyarduino.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#guidetopro" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Brief-guide-to-programming-languages-v1.2.4.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#python3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="{% static 'image/educ/learn-python3-cover.png' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#learnphp" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/learn_programming_with_php.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#learnjs" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/JavaScript-Enlightenment-Aarabic.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#learnjquery" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/jQuery-Enlightenment-Arabic.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#knowfreesoft" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/know_free_software.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#freeosguide" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/free-opensource-guide-arabic-v3.0.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#fosspro" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Foss_Proposal_reloaded_20150411_cover_v1.1.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#debian" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Debian-Handbook-Arabic-Cover.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#ubuntu" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/simplyubuntu.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#physical_haking" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/techniques_of_physical_hacking.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#code_org" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/code_org.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#DigitalFlood" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/DigitalFlood.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#scratch" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/become-a-scratch-professional-in-10-days.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#arduino2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/become-an-arduino-professional-in-10-days.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#Information" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Information.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#cc_guide" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Creative-Commons-a-user-guide-Arabic-v1.0.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#success" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/success.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#Innovation" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Innovation.png' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#Capture" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Capture.JPG' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#Thepoweroftheeconomy" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Thepoweroftheeconomy.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#networkingwireless" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/wireless-networking-in-the-developing-world.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#upverter_guide" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/upverter_guide_arabic_v1.13.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#HTML5" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Dive_Into_HTML5_cover.png' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#freeing_knowledge" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/intro_to_freeing_knowledge.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/.jpg' %}" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    
     {% include 'educ_portfoll.html' %}
{% endblock %}