{% extends "index.html" %}
{% load staticfiles %}
    


{% block riwayat %}

<section id="portfolio">
      <div class="container">
        <br>
        <br>
        <h2 class="text-center">روايات</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/lastsymbole.jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/002.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/amarita.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="{% static 'image/5207.jpeg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal5" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/hibta.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal6" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/01.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal7" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/kahana.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal8" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/katez.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal9" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/9arin.PNG' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal10" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/infarno.jpeg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal11" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/davenchi.png' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal12" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/angel.jpeg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal13" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/10088913.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal14" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/13422740.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal15" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/22555781.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal16" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/600-25.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal17" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/mas.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal18" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/34088743.jpg' %}" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    
    {% include 'Portfoli_modal.html' %}
{% endblock%}