{% load staticfiles %}

<section id="portfolio">
      <div class="container">
        <h2 class="text-center">مقترحات</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/lastsymbole.jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/002.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/amarita.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#python3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="{% static 'image/educ/learn-python3-cover.png' %}" alt="">
            </a>
          </div>
        <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#debian" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/Debian-Handbook-Arabic-Cover.jpg' %}" alt="">
            </a>
          </div>
         <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#raspberry" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'image/educ/simply-raspberry-pi.jpg' %}" alt="" >
            </a>
          </div>
        </div>
      </div>
    </section>